body {
    background-color: purple;
}

/* NAVBAR */

.navbar a {
	font-family: 'Readex Pro', sans-serif;
	font-size: 20px;
}

.navbar {
  background-color: trasparent : !important;
}

/* CARD */

/* ANIMAZIONI

.card {
  transition: transform 500ms ease-in-out;
}

.card:hover {
    transform: scale(105%);
}

*/

/* YOUTUBE */

.youtube-section {
  background-color: #fe0000;
}

.youtube-section p {
  font-size: 25px;
  font-family: 'Readex Pro', sans-serif;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

/* TWITCH */

.twitch-section {
  background-color: rgb(138, 13, 255);
}

/* DISCORD */

.discord-section {
  height: 300px;
  background-color: rgb(86, 13, 255);

}

footer {
  background-color: #443e3e;
  height: 500px;
}

.twitch-section {
  height: 300px;
  background-color: ;
}

@media (max-width: 768px)  {

  .big-text-cover h2 {
    font-size: 40px;
    margin-bottom: 25px;
    line-height: 40px;
    padding: 20px;
  }
