.title-chisono {

}

p .lead {

}

.disabled {
  color: red;
}

.titoloprova {
  color: red;
  font-size: 10px;
}

.nav-link {
  font-family: "Square Beat DEMO"
}

.dropdown-item {
  font-family: "Square Beat DEMO"
}
