body {
    background-color: white;
}

header {
	padding-bottom: 20px;

}

.dropdown-toggle::after {
    display: none;
}

.navbar a {
	font-family: 'Readex Pro', sans-serif;
	font-size: 20px;
}

.card {
  transition: transform 500ms ease-in-out;
}

.card:hover {
    transform: scale(105%);
}

footer {
	height: 100px;
	background-color: gray;
}
